@{
    ViewData["Title"] = "Home Page";
}

    <h2>Calc Service Demonstration</h2>
<ul>
    <li><a asp-controller="Home" asp-action="UsingModel">Using Model</a></li>
    <li><a asp-controller="Home" asp-action="UsingViewData">Using ViewData</a></li>
    <li><a asp-controller="Home" asp-action="UsingViewBag">Using ViewBag</a></li>
    <li><a asp-controller="Home" asp-action="UsingServiceInjection">Using Service Injection</a></li>
</ul>
